<!DOCTYPE html>
<html>
<head>

    <!-- css bundlovi -->
    <link rel="stylesheet" href="/bundle/site.min.css">
    <title>Tražilica letova</title>

</head>
<body>

    <div class="container">

        @* Body stranice *@
        @RenderBody()

    </div>

    <!-- js bundlovi -->
    <script src="/bundle/site.min.js"></script>

</body>
</html>
